body {
    background-color: #303230;
    color: #C29C49;
}

#control-div {
    display: flex;
    flex-direction: row;
    margin: 10px 0 10px 0;
    justify-content: space-between;
}

#edition-list-holder {
    position: relative;
    min-width: 300px;
    display: flex;
    align-items: end;
}

#edition-list summary {
    cursor: pointer;
}

#edition-list {
    position: absolute;
    top: 0;
    z-index: 50;
    background-color: #303230;
    min-width: 300px;
    text-align: right;
}

#edition-list[open] {
    padding-left: 10px;
    padding-bottom: 10px;
}

.edition-list-col {
    vertical-align: top;
    text-align: left;
    min-width: 150px;
}

.edition-list-item.derivative {
    margin-left: 15px;
}

.edition-header a {
    font-weight: bold;
    text-decoration: none;
    color: #362E1A;
}

.atom-col a {
    text-decoration: none;
    color: #362E1A;
}

.ln-holder {
    font-weight: bold;
    margin-right: 8px;
}

.ln-holder.variant {
    background-color: #8a008b;
    color: white;
}

.hidden {
    display: none!important;
}

.histogram {
    border: none;
}
.diff-indicator {
    height: 20px;
    width: 3px;
}
.diff-indicator.variant {
    background-color: black;
}

del {
    text-decoration: none;
    color: #b30000;
    background: #fadad7;
    text-decoration: line-through;
}
ins {
    background: #eaf2c2;
    color: #406619;
    text-decoration: none;
}
.chunk-header {
    color: #8a008b;
    text-decoration: none;
}
.style-change.removed {
    border-bottom: solid 2px #b30000;
}
.style-change.added {
    border-bottom: solid 2px #406619;
}
.style-change-i, .style-change-em {
    font-style: italic;
}

#control-div, #vari-table-holder {
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

#vari-table-holder {
    overflow-x: auto;
    overflow-y: scroll;
    height: 90vh;
    padding-bottom: 20px;
}

#vari-table, #vari-table-holder {
    background-color: #C29C49;
}

#vari-table {
    position: relative;
}

#vari-table th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #C29C49;
    border-bottom: solid 1px #AF582F;
}

#vari-table td, #vari-table th {
    color: #362E1A;
}

.atom-row.new-stanza td {
    padding-top: 20px;
}

.atom-row.missing {
    background-color: #AF582F;
}

.atom-col {
    text-wrap-mode: nowrap;
}

.atom-col {
    vertical-align: bottom;
}
